.idea
.DS_Store
__pycache__
.coverage
htmlcov/
test_output/
test-results/
*.egg-info/
docs/build
*ipynb_checkpoints*
docs/source/api/
docs/source/apidocs/source/.ipynb_checkpoints/
docs/source/.ipynb_checkpoints
docs/source/api
.tox
.virtual_documents
asv/
asv_env/
