name: Python package

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup python for tox
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: install tox
        run: python -m pip install tox tox-conda
      - name: Test with tox
        run: |
          tox
